@import "tailwindcss";

.markdown-content p {
  margin-bottom: 0.5rem;
}
.markdown-content p:last-child {
  margin-bottom: 0;
}
.markdown-content strong {
  font-weight: 800;
  color: #fff;
}
.markdown-content ul, .markdown-content ol {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  list-style-type: disc;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOff {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-up {
  animation: slideUp 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
}

.animate-slide-off {
  animation: slideOff 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
}
